asgiref==3.8.1
crispy-bootstrap4==2025.6
distlib==0.3.8
Django==5.2.3
django-crispy-forms==2.4
django-js-asset==3.1.2
django-mptt==0.14.0
djangorestframework==3.16.1
filelock==3.13.1
pillow==11.2.1
platformdirs==4.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.8.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
